<!DOCTYPE html>
<html>
<head>
    <title>Data Processing Results</title>
</head>
<body style="font-family: sans-serif;">
    <h1>Data Processing Results</h1>
    <h2>Average speed of cars in the past 30 preceding: {{ time }}</h2>
    <p>Latest data update: {{ latest_update }}</p>
    <div style="height: 70%;width: 90%;">
        {% include 'map.html' %}
    </div>
    <ul style="height: 10%;overflow: scroll;">
        {% for time in times %}
            <li><a href="map.html?time={{ time }}">{{ time }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>